.sunny {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -90px;
    background-repeat: none;
}

/*晴*/
.clear {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -90px;
    background-repeat: none;
}

.raintosunny {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -179px;
    background-repeat: none;
}

.rain {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -528px;
    background-repeat: none;
}

.snow {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -260px;
    background-repeat: none;
}

.bigsnow {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -260px;
}

.bigrain {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -350px;
    background-repeat: none;
}

.cloudy {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -442px;
    background-repeat: none;
}

.middlerain {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -528px;
    background-repeat: none;
}

.nightcloudy {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -615px;
    background-repeat: none;
}

.overcast {
    width: 52px;
    height: 52px;
    background: url('weather.png') -457px -80px;
    background-repeat: none;
}

.sunnytosmallrain {
    width: 52px;
    height: 52px;
    background: url('weather.png') -457px -175px;
    background-repeat: none;
}

.tstorms {
    width: 52px;
    height: 52px;
    background: url('weather.png') -457px -260px;
    background-repeat: none;
}

.hail {
    width: 52px;
    height: 52px;
    background: url('weather.png') -457px -350px;
    background-repeat: none;
}

.thunderstorm {
    width: 52px;
    height: 52px;
    background: url('weather.png') -457px -442px;
    background-repeat: none;
}

.smallsnow {
    width: 52px;
    height: 52px;
    background: url('weather.png') -457px -528px;
    background-repeat: none;
}

.smallrain {
    width: 52px;
    height: 52px;
    background: url('weather.png') -704px -175px;
    background-repeat: none;
}

.nightsunny {
    width: 52px;
    height: 52px;
    background: url('weather.png') -704px -260px;
    background-repeat: none;
}

.rainandhail {
    width: 52px;
    height: 52px;
    background: url('weather.png') -704px -350px;
    background-repeat: none;
}

.wind {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -90px;
    background-repeat: none;
}

.fog {
    width: 52px;
    height: 52px;
    background: url('weather.png') -704px -528px;
    background-repeat: none;
}

.suncloudy {
    width: 52px;
    height: 52px;
    background: url('weather.png') -702px -87px;
    background-repeat: none;
}

.picnotfound {
    width: 52px;
    height: 52px;
    background: url('weather.png') -457px -10px;
    background-repeat: none;
}

.partlycloudy {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -442px;
    background-repeat: none;
}

.chancerain {
    width: 52px;
    height: 52px;
    background: url('weather.png') -214px -442px;
    background-repeat: none;
}

/*天气*/
.icon_weather {
    float: left;
    width: 66px;
    height: 66px;
    display: inline-block;
}

.icon_weather_small {
    display: inline-block;
}
