
/* 子系统图标 */
.icon_top {
    display: inline-block;
}
.icon_stop {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/stop.png) no-repeat;
    background-size: 36px 36px;
}
.icon_cold_hot {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/cold_hot.png) no-repeat;
    background-size: 36px 36px;
}

.icon_bgm {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/bgm.png) no-repeat;
    background-size: 36px 36px; 
}

.icon_build {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/build.png) no-repeat;
    background-size: 36px 36px;
}

.icon_elevator {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/elevator.png) no-repeat;
    background-size: 36px 36px;
}

.icon_fire {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/fire.png) no-repeat;
    background-size: 36px 36px;
}

.icon_group_control {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/group_control.png) no-repeat;
    background-size: 36px 36px;
}

.icon_light {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/light.png) no-repeat;
    background-size: 36px 36px;
}

.icon_monitor {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/monitor.png) no-repeat;
    background-size: 36px 36px;
}

.icon_energy {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/energy.png) no-repeat;
    background-size: 36px 36px;
}

.icon_cold_hot_system {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/cold_hot_system.png) no-repeat;
    background-size: 36px 36px;
}

.icon_voltage {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/voltage.png) no-repeat;
    background-size: 36px 36px;
}

.icon_device {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/device.png) no-repeat;
    background-size: 36px 36px;
}

.icon_system {
    margin: 20px 0 0 10px;
    background: url(~@/assets/eno/images/menu/system.png) no-repeat;
    background-size: 36px 36px;
}

.topnav ul li a.dashboard { background-position: 26px 28px !important; }
.topnav ul li a.runMonitor { background-position:-44px 28px !important; }
.topnav ul li a.alarmManage { background-position:-120px 28px !important; }
.topnav ul li a.energyManage { background-position: -194px 28px !important; }
.topnav ul li a.systemLog { background-position:-268px 28px !important; }
.topnav ul li a.deviceAsset { background-position:-342px 28px !important; }
.topnav ul li a.lowCarbon { background-position:-368px 26px !important; }
.topnav ul li a.reportForm { background-position:-492px 28px !important; }
.topnav ul li a.RuleManage { background-position: -562px 28px !important; }
.topnav ul li a.dataManage { background-position: -638px 28px !important; }
.topnav ul li a.runPlan { background-position: -712px 28px !important; }
.topnav ul li a.timeTable { background-position:-788px 28px !important; }
.topnav ul li a.userManage { background-position:-860px 28px !important; }

.topnav ul li:hover { height:81px; background-color:#000 !important; }
.topnav ul li.current { width:225px; background-color:#000 !important; }
.topnav ul li.current span { font-size:24px; color:#fff; line-height:82px; cursor:pointer !important; }
.topnav ul li:hover a.dashboard, .topnav ul li.current a.dashboard { background-position:26px -32px !important; }
.topnav ul li:hover a.runMonitor, .topnav ul li.current a.runMonitor { background-position:-44px -32px !important; }
.topnav ul li:hover a.alarmManage, .topnav ul li.current a.alarmManage { background-position:-120px -32px !important; }
.topnav ul li:hover a.energyManage, .topnav ul li.current a.energyManage { background-position:-194px -32px !important; }
.topnav ul li:hover a.systemLog, .topnav ul li.current a.systemLog { background-position:-268px -32px !important; }
.topnav ul li:hover a.deviceAsset, .topnav ul li.current a.deviceAsset { background-position:-342px -32px !important; }
.topnav ul li:hover a.lowCarbon, .topnav ul li.current a.lowCarbon { background-position:-368px -32px; }
.topnav ul li:hover a.reportForm, .topnav ul li.current a.reportForm { background-position:-492px -32px !important; }
.topnav ul li:hover a.RuleManage, .topnav ul li.current a.RuleManage { background-position:-562px -32px !important; }
.topnav ul li:hover a.dataManage, .topnav ul li.current a.dataManage { background-position:-638px -32px !important; }
.topnav ul li:hover a.runPlan, .topnav ul li.current a.runPlan { background-position:-712px -32px !important; }
.topnav ul li:hover a.timeTable, .topnav ul li.current a.timeTable { background-position:-788px -32px !important; }
.topnav ul li:hover a.userManage, .topnav ul li.current a.userManage { background-position:-860px -32px !important; }

/** 暖通空调 **/
.menu_hvac {
    background-position: 0px -53px;
}

/** 公共照明 **/
.menu_pls {
    background-position: -53px -53px;
}

/** 夜景照明 **/
.menu_las {
    background-position: -107px -53px;
}

/** 变配电 **/
.menu_ptd {
    background-position: -160px -53px;
}

/** 给排水 **/
.menu_wsd {
    background-position: -214px -53px;
}

/** 视频监控 **/
.menu_ctv {
    background-position: -265px -53px;
}

/** 防盗报警 **/
.menu_bpa {
    background-position: -320px -53px;
}

/** 门禁管理 **/
.menu_acs {
    background-position: -372px -53px;
}

/** 电子巡更 **/
.menu_gts {
    background-position: -426px -53px;
}

/** 消防监控 **/
.menu_fas {
    background-position: -479px -53px;
}

/** 电梯管理 **/
.menu_ems {
    background-position: -533px -53px;
}

/** 停车管理 **/
.menu_pms {
    background-position: -587px -53px;
}

/** 冷源 **/
.menu_cs {
    background-position: 0px 0px;
}

/** 热源 **/
.menu_hs {
    background-position: -50px 2px;
}

/** 组合式空调 **/
.menu_mahu {
    background-position: -100px 2px;
}

/** 新风机组 **/
.menu_favu {
    background-position: -150px 2px;
}

/** 风机盘管 **/
.menu_fcu {
    background-position: -200px 2px;
}

/** 送风机 **/
.menu_sav {
    background-position: -250px 2px;
}

/** 给水 **/
.menu_ws {
    background-position: -300px 2px;
}

/** 排水 **/
.menu_wd {
    background-position: -350px 2px;
}

/** 室内环境 **/
.menu_idenv {
    background-position: -394px 2px;
}

/** 照明 **/
.menu_light {
    background-position: -444px 2px;
}
/** 背景音乐 **/
.menu_music {
    background-position: -637px -53px;
}
/** 能耗计量 **/
.menu_ener {
    background-position: -683px -53px;
}